html {
  scroll-behavior: smooth;
}

body {
    background-color: #1E1E1E;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    background-color: #333333;
    color: white;
    border-radius: 25px;
    padding: 20px;
    width: 1300px;
    font-size: 48px;
}

h2 {
    text-align: center;
    background-color: #333333;
    color: white;
    border-radius: 25px;
    padding: 20px;
    width: 1000px;
}

p {
    text-align: center;
    background-color: #333333;
    color: white;
    border-radius: 25px;
    padding: 20px;
    width: 800px;
    font-size: 20px;
}

button {
    background-color: #2E2E2E;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    width: 200px;
    border: none;
    border-radius: 25px;
    transition: transform 0.2s ease, background-color 0.2s ease;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    background-color: #505050;
}

a {
    color: rgb(79, 255, 255);
    text-decoration: underline;
    transition: text-shadow 0.3s ease;
}

a:hover {
    text-shadow: 0 0 8px rgb(79, 255, 255), 0 0 16px rgb(79, 255, 255);
}

.about_me h2 {
    font-size: 36px;
}

.about_me figcaption {
    background-color: #333333;
    color: white;
    border-radius: 50px;
    padding: 5px;
    width: 250px;
}

.Day_and_night_update_log h2 {
    font-size: 36px;
}

.Day_and_night_update_log h3 {
    text-align: center;
    background-color: #333333;
    color: white;
    border-radius: 25px;
    padding: 20px;
    width: 900px;
    font-size: 28px;
}

.Day_and_night_update_log p {
    text-align: left;
}

.Day_and_night_update_log button {
    position: absolute;
    left: 20px;
}

.Day_and_night_page h2 {
    font-size: 36px;
}

.Day_and_night_page h3 {
    text-align: center;
    background-color: #333333;
    color: white;
    border-radius: 25px;
    padding: 20px;
}

.Day_and_night_page figcaption {
    background-color: #333333;
    color: white;
    border-radius: 50px;
    padding: 5px;
    width: 250px;
}

.line-with-text {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: bold;
}

.line-with-text::before,
.line-with-text::after {
    content: "";
    flex: 1;
    border-bottom: 5px solid white;
    margin: 25px 10px;
}